<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccorder.ordersystem.mapper.FoodMapper">
  <resultMap id="BaseResultMap" type="com.ccorder.ordersystem.entity.Food">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="food_price" jdbcType="DOUBLE" property="foodPrice" />
    <result column="food_type" jdbcType="VARCHAR" property="foodType" />
    <result column="food_material" jdbcType="VARCHAR" property="foodMaterial" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <resultMap id="FoodTypeMap" type="java.util.HashMap">
    <result column="food_type" jdbcType="VARCHAR" property="foodType" />
  </resultMap>

  <resultMap id="UserFood" type="com.ccorder.ordersystem.entity.UserFood">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="food_price" jdbcType="DOUBLE" property="foodPrice" />
    <result column="food_type" jdbcType="VARCHAR" property="foodType" />
    <result column="food_material" jdbcType="VARCHAR" property="foodMaterial" />

    <collection property="imges" ofType="com.ccorder.ordersystem.entity.File">
      <result column="file_name" jdbcType="VARCHAR" property="fileName" />
      <result column="file_type" jdbcType="VARCHAR" property="fileType" />
      <result column="file_path" jdbcType="VARCHAR" property="filePath" />
      <result column="file_remark" jdbcType="VARCHAR" property="fileRemark" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, food_name, food_price, food_type, food_material, create_user_id, create_date,
    modify_user_id, modify_date, `status`
  </sql>

  <select id="getAllFood" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from food
  </select>

  <select id="getUserFood" resultMap="UserFood">
    select
      F.id id,
      F.food_name food_name,
      F.food_price food_price,
      F.food_type food_type,
      F.food_material food_material,
      FI.file_name file_name,
      FI.file_path file_path,
      FI.file_type file_type,
      FI.file_remark file_remark
    from
      Food F
      left join map_file MF on (MF.object_type='Food' and MF.object_id=F.id)
      left join file FI on MF.file_id = FI.id
  </select>
  <select id="getAllType" resultMap="FoodTypeMap">
    <!--@mbg.generated-->
    select
    food_type
    from food
    group by
    food_type
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from food
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getFoodsByType" parameterType="java.lang.String" resultMap="UserFood">
    <!--@mbg.generated-->
    select
      F.id id,
      F.food_name food_name,
      F.food_price food_price,
      F.food_type food_type,
      F.food_material food_material,
      FI.file_name file_name,
      FI.file_path file_path,
      FI.file_type file_type,
      FI.file_remark file_remark
    from
      Food F
      left join map_file MF on (MF.object_type='Food' and MF.object_id=F.id)
      left join file FI on MF.file_id = FI.id
    where
      F.food_type=#{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from food
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ccorder.ordersystem.entity.Food">
    <!--@mbg.generated-->
    insert into food (id, food_name, food_price, 
      food_type, food_material, create_user_id, 
      create_date, modify_user_id, modify_date, 
      `status`)
    values (#{id,jdbcType=VARCHAR}, #{foodName,jdbcType=VARCHAR}, #{foodPrice,jdbcType=DOUBLE}, 
      #{foodType,jdbcType=VARCHAR}, #{foodMaterial,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ccorder.ordersystem.entity.Food">
    <!--@mbg.generated-->
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="foodName != null">
        food_name,
      </if>
      <if test="foodPrice != null">
        food_price,
      </if>
      <if test="foodType != null">
        food_type,
      </if>
      <if test="foodMaterial != null">
        food_material,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null">
        #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="foodType != null">
        #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodMaterial != null">
        #{foodMaterial,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccorder.ordersystem.entity.Food">
    <!--@mbg.generated-->
    update food
    <set>
      <if test="foodName != null">
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null">
        food_price = #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="foodType != null">
        food_type = #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodMaterial != null">
        food_material = #{foodMaterial,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccorder.ordersystem.entity.Food">
    <!--@mbg.generated-->
    update food
    set food_name = #{foodName,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DOUBLE},
      food_type = #{foodType,jdbcType=VARCHAR},
      food_material = #{foodMaterial,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByOrderIdGetFoodName" resultType="java.lang.String">
    select food.food_name
    from map_order_food,food
    where map_order_food.order_id=#{orderId,jdbcType=VARCHAR} and
    map_order_food.food_id=food.id
  </select>
  <select id="selectByUserIdFoodId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from food
    where food.id=#{foodId,jdbcType=VARCHAR}  and
    food.create_user_id=#{userId,jdbcType=VARCHAR}
  </select>



  <select id="selectByFoodIdGetFoodName" resultType="java.lang.String">
    select ccorder.food.food_name
    from ccorder.food
    where ccorder.food.id=#{foodId,jdbcType=VARCHAR}
  </select>

  <select id="selectByFoodIdGetFoodPrice" resultType="java.lang.Double">
    select ccorder.food.food_price
    from ccorder.food
    where ccorder.food.id=#{foodId,jdbcType=VARCHAR}
  </select>

  <select id="selectByFoodId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from ccorder.food
    where ccorder.food.id=#{foodId,jdbcType=VARCHAR}
  </select>
  <update id="updateByFoodType">
    update ccorder.food
    set food.food_type=null
    where food_type=#{foodType,jdbcType=VARCHAR}
  </update>


</mapper>