<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccorder.ordersystem.mapper.mapMapper.MapOrderFoodMapper">
  <resultMap id="BaseResultMap" type="com.ccorder.ordersystem.entity.mapEntity.MapOrderFood">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="food_id" jdbcType="VARCHAR" property="foodId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="score" jdbcType="FLOAT" property="score" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_user_id" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, food_id, amount, score, create_user_id, create_date, modify_user_id, 
    modify_date, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from map_order_food
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from map_order_food
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ccorder.ordersystem.entity.mapEntity.MapOrderFood">
    <!--@mbg.generated-->
    insert into map_order_food (id, order_id, food_id, 
      amount, score, create_user_id, 
      create_date, modify_user_id, modify_date, 
      `status`)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{foodId,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{score,jdbcType=FLOAT}, #{createUserId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ccorder.ordersystem.entity.mapEntity.MapOrderFood">
    <!--@mbg.generated-->
    insert into map_order_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="foodId != null">
        food_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=FLOAT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccorder.ordersystem.entity.mapEntity.MapOrderFood">
    <!--@mbg.generated-->
    update map_order_food
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null">
        food_id = #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=FLOAT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccorder.ordersystem.entity.mapEntity.MapOrderFood">
    <!--@mbg.generated-->
    update map_order_food
    set order_id = #{orderId,jdbcType=VARCHAR},
      food_id = #{foodId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      score = #{score,jdbcType=FLOAT},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>




  <select id="selectByOrderIdGetAmount" resultType="java.lang.Integer">
    select map_order_food.amount
    from map_order_food
    where map_order_food.order_id=#{orderId,jdbcType=VARCHAR}
  </select>

  <select id="selectByOrderIdGetFoodId" resultType="java.lang.String">
    select food_id
    from map_order_food
    where map_order_food.order_id=#{orderId,jdbcType=VARCHAR}
  </select>

  <select id="selectByFoodIdGetAmount" resultType="java.lang.Integer">
    select map_order_food.amount
    from map_order_food
    where map_order_food.order_id=#{param2,jdbcType=VARCHAR}  and
    map_order_food.food_id=#{param1,jdbcType=VARCHAR}
  </select>

</mapper>